.overlay {
    position: absolute;
    top: 20;
    left: 0;
    margin-top: 100px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .album-btn{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: transparent; 
  }
  
  .play-icon {
    color: rgb(109, 65, 65);
    font-size: 3rem;
    cursor: pointer;
  }
  .play-icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid blue; /* Add border style */
    background-color: transparent; /* Set background color to transparent */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  